tbody td {
	white-space: nowrap;
}

.wrap {
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

table {
	font-family: 'Oswald', sans-serif;
	border-collapse: collapse;
}

th {
	background-color: #009879;
	color: #ffffff;
	width: 25vw;
	height: 75px;
}

td {
	background-color: #ffffff;
	width: 25vw;
	height: 50px;
	text-align: center;
}

tr {
	border-bottom: 1px solid #dddddd;
}

tr:last-of-type {
	border-bottom: 2px solid #009879;
}

tr:nth-of-type(even) td {
	background-color: #f3f3f3;
}

th, td {
	border: 5px solid #dddddd;
}

