.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* 调整表单垂直居中的高度 */
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
    /* 将文本居中 */
}

label {
    display: block;
    font-weight: bold;
    font-size: 30px;
}

textarea {
    width: 300px;
    /* 调整文本框的宽度 */
    height: 200px;
    /* 调整文本框的高度 */
    font-size: 16px;
    /* 调整文本框的字体大小 */
    resize: both;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}